body
{
	margin: 0;
	padding: 0;
	color: #555;	
	height:100%;	
	background: url(../images/light_wool.png) repeat;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	min-width: 1240px;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    width: 100%;
    height:100%;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#logo
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

#PageTop {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 45px;
	background-color: #0F0F0A;
}

#PageTop.translucent {
	background-color: rgba(124, 178, 40, 0.9);
	opacity: 0.70;
}

#PageTop nav ul {
	list-style: none;	
}

#PageTop nav li {
	display: inline;
}

#PageTop nav li a {
	padding-left:30px;
        padding-right:10px;
	font-size: 14px;
	color: #F1F1F1;
	font-weight: bold;
}

#PageTop div.actions ul li a:hover {
	text-decoration: none;
	font-weight: bolder;
	background-color: #800000;
	z-index: 5;
}

#PageTop div.logo {
	display:inline;
	position: absolute;
	margin-left:5em;
	margin-top:1%;
}

#PageTop div.actions {
	position: absolute;
	right: 0;
	text-shadow: 1px 1px 0px rgba(64, 64, 64, 0.4);	
}

#pageTopAfter
{
	width:100%;
	height:20px;	
}

.top-container 
{
	width:100%;
}

#toggleImageDiv1
{
	background: url(../images/main1.jpg) no-repeat;
	background-size: cover;
	padding-top: 38%;	
}

#toggleImageDiv2
{
	background: url(../images/main4.jpg) no-repeat;
	background-size: cover;
	padding-top: 38%;	
}

#bottom-container
{
	width:100%;
	margin-top:3%;
}

#oneClickMsg
{
	width:70%;
	margin:0 auto;
	text-align:center;
	text-shadow:black;
	border: 1px solid #d4d4d4;	
}

#selectLocationList
{
	display: none;
	width:94%;
	height:130px;
	background-image: linear-gradient(#d2d2d2, #e8e8e8 100px);
	-webkit-box-shadow: 2px 2px 2px #aaa;
	-moz-box-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px #aaa;
}

#selectLocationList li
{
	list-style: disc;	
}

#locationList
{
	float:left;
	list-style-type: none;
	display:inline-block;
	width: 24%;
	position:relative;	
	left: -30px;
	top:5px;
}

#selectLocationList li a
{
	color:#A1A1A1;
}

#selectLocationList li a:HOVER
{
	text-decoration: none;
	font-weight: bolder;
	background-color: #800000;
}

#clickSearchSelectLoc:HOVER
{
	
}

#home-tagline {
	position: absolute;
	top: 110px;
	border:1px solid; 
    width:710px; 
    height:130px;
    margin-left:25%;
	border: 1px solid #d4d4d4;
	background-image: linear-gradient(#ffffff, #f2f2f2 100px);
	background: rgba(255,255,255,0.6);
}

#home-tagline .ui-tabs-active {
	background-image: linear-gradient(#fbfbfb, #f6f6f6 100px);
	background: #f4f4f4;
	font-weight: bold;
	
}

#home-tagline .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}

#home-tagline .ui-tabs-nav{
	background: transparent;
	padding-left: 0px;  
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
}

.tabs
{
	background-image: linear-gradient(#ffffff, #e5eecc 100px);
	background: #e5eecc;
	font-size: 12px;
}

input[type=text],input[type=password]
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border: 1px solid #e4ddd7;
	color:#A1A1A1;
    vertical-align: middle;
    height: 44px;
    width:280px;
    border-radius: 4px;
    padding-left:5px;
    line-height:32px;    
}

input::-webkit-input-placeholder { font-size: 18px; color: #A2A2A2; }
input::-moz-placeholder { font-size: 18px; color: #A2A2A2; }
input:-ms-input-placeholder { font-size: 18px; color: #A2A2A2; *line-height:32px; overflow: visible;}
input:-moz-placeholder { font-size: 18px; color: #A2A2A2; }

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 30px;
	padding-right: 15px;
}

.footer-links {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	float: left;
	list-style: none;
	margin: 1.875em 0 0
}

.foot-link_item {
	font-size: 0.875em;
	line-height: 1.6
}

.foot-link_item:first-child,.foot-link_item h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em
}

.foot-link_item--icons {
	font-size: 1.3125em;
	padding-top: 10px
}

.site-footer_copyright {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	font-size: 0.875em;
	line-height: 1.6;
	margin: 1.875em 0 0
}

@media only screen and (min-width: 768px) {
	.site-footer_copyright {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 31.25%;
		float: left;
		float: right;
		text-align: right
	}
}

.row,.page {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	
	*zoom: 1
}

.row:before,.page:before,.row:after,.page:after {
	content: " ";
	display: table
}

.row:after,.page:after {
	clear: both
}

#footer {
	background-image:url(../images/squared_metal.png);
	background-repeat:repeat;
	color: #fff;
	padding-bottom: 1.5em;
	clear: both;
	position: relative;
	bottom:0;
	width:100%;
	margin-top:10px;
}

@media only screen and (min-width: 768px) {
	.site-footer {
		padding-bottom: 3.125em
	}
}

.site-footer .row,.site-footer .page {
	position: relative
}

.site-footer a {
	color: #e7e7e7
}

.site-footer a:hover {
	color: #b5b5b5;
	text-decoration: none;
}

.footer-links {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	float: left;
	list-style: none;
	margin: 1.875em 0 0
}

@media only screen and (min-width: 768px) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 15.625%;
		float: left
	}
	.footer-links:last-of-type {
		width: 30%
	}
}

@media only screen and (min-width: 58.75em) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 12.5%;
		float: left
	}
}

.foot-link_item {
	font-size: 0.875em;
	line-height: 1.6
}

.foot-link_item:first-child,.foot-link_item h3 {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em 0
}

.foot-link_item--icons {
	font-size: 1.3125em;
	padding-top: 10px
}

#signupdisplaybox {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

.SignInPopUpdiv {
	position:absolute;
	background:#fff;
	border:5px solid #000;
	z-index: 9002;
	border:1px solid grey;
	width:500px;
	height:250px;
	margin:auto;
	margin-top:100px;
	font-size:12px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 2px #aaa;
	-moz-box-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px #aaa;
	text-align: center;
   	position:absolute;   
}

.SignInPopUpdiv .innerRow{
	border:none;
	margin: auto;
	position: relative;	
	padding-top:10px;
	padding-left:10px;
	float:left;
}

#SignInPopUpdiv a 
{
	position:relative;
	top:20px;
	left:20px
}

#SignInPopUpdiv label 
{
	position:relative;
	top:20px;
	left:120px
}

#SignInPopUpdiv input 
{
	top:20px; 
	left:120px;
    font-size: 18px;
    border: 1px solid #e4ddd7;
    border-radius: 6px
}

.btn 
{
   border: 1px solid #73f071;
   background: #83d473;
   background: -webkit-gradient(linear, left top, left bottom, from(#318000), to(#83d473));
   background: -webkit-linear-gradient(top, #318000, #83d473);
   background: -moz-linear-gradient(top, #318000, #83d473);
   background: -ms-linear-gradient(top, #318000, #83d473);
   background: -o-linear-gradient(top, #318000, #83d473);
   vertical-align: middle;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #fff;
   font-size: 16px;
   font-family: 'Open Sans',Georgia, serif;
   font-weight:bolder;
   text-decoration: none;
   vertical-align: middle;
   height: 45px;
}

.btn:hover 
{
   border-top-color: #2c960f;
   background: #2c960f;
   color: #ccc;
}
.btn:active 
{
   border-top-color: #05870a;
   background: #05870a;
}

.smaller{
	height: 36px;
}
    
 .profile-glassy
 {
 	background: rgba(255,255,255,0.6);
 	display: block;
 	clear: both;
 	width: 30%;
	text-indent: 10px;
	padding-bottom: 10px; 	
 }  
 
 .profile-glassy hr{
 	margin-left: 15px;
 	margin-right: 15px;
 	border-color: #ccc;
 }
 
 .profile-glassy h3{
 	padding-top: 8px;
 	top: 20px;
 	font-weight: bolder;	
 }
 .profile-glassy p{
 	padding-left: 6px;
 	font-size: 16px;
 }
 
  .profile-glassy span{
 	padding-left: 17px;
 	padding-top:20px;
 	font-size: 12px;
 	font-weight: bolder;
 }
 
.profile-glassy p a:hover
{
 	text-decoration: none;
 }
 
 .ProfileMenu {
	border:5px solid #000;
	z-index: 9002;
	border:1px silver;
	width:130px;
	height:100px;
	margin:0 auto;
	margin-top:56px;
	font-size:12px;
	-webkit-box-shadow: 2px 2px 2px #aaa;
	-moz-box-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px #aaa;
	text-align: center;
   	position:absolute; 
   	display: block;
}

.ProfileMenu .innerRow{
	color: #f1f1f1;
	text-align: left;
	margin: 0 auto;
	font-weight: bolder;
	height: 30px;
	text-indent: 5px;
	padding-top: 5px;
	background-color: #0F0F0A;
	border: 1px silver;
  	text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.3);
}

.ProfileMenu .innerRow:HOVER
{
	background-color: #800000;
	border: 1px solid silver;
	font-size: 14.5px;
	text-shadow: 1px 1px 4px rgba(64, 64, 64, 0.3);
}

.ProfileMenu a:HOVER
{
	text-decoration: none;
}

.ProfileMenu a {
	text-decoration: none;
	color: #565656;
}

.smallinput[type=text],input[type=password],input[type=date]
{
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:medium;
	border: 1px solid #e4ddd7;
	color:#A1A1A1;
    vertical-align: middle;
    height: 35px;
    width:200px;
    border-radius: 4px;
    padding-left:5px;
    line-height:32px;    
}

.rankSubMenu {
    position:relative;
    list-style-type:none;
    margin:0;
    display:none;
}

.subMenuContainer:hover #rankSubMenu {
    display:block;
}

.ranksSubmenuItem {
    position:relative;
    list-style-type:none;
    padding:10px 0;
}

.ranksSubmenuItem a {
    display:block;
    height:100%;
    text-decoration:none;
}

.ranksSubmenuItem:hover a {
    text-decoration:underline;
}
