body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EF0000;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    width: 100%;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer {
	height: 80px;
	width: 100%;
	background: #c4c2bc;
	left: 0;
	bottom: 0;
	position: relative;	
	clear: both;
}

#logo
{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.input-container {
    background: url(../images/test.jpg) no-repeat;
}

.input-container input{
    height:32px;
    line-height:32px;
    border:none;
    padding:0 10px;
    width:250px;
}
.input-container_spec
{
background-color:blue;
height:12px;
width:250px;
border:none;
padding:0 10px;
}

#header1 {
	height: 30px;
	width: 100%;
	background: #c4c2bc;
	left: 0;
	bottom: 0;
	position: relative;	
	clear: both;
}

.layout-main-footer h3 {
	color: #CCC;
	font-size: 16px;
}

.layout-main-footer .copyright {
	font-size: 11px;
	margin: 30px 0 0 0;
	text-align: center;
}

.layout-main-footer ul.menu,.layout-main-footer ul.menu ul,.layout-main-footer ul.menu li
	{
	list-style: none;
	margin: 0;
	padding: 0;
}

.layout-main-footer ul.menu ul {
	margin: 0 0 0 10px;
}

.layout-main-footer ul.menu li.main {
	display: block;
	float: left;
	width: 150px;
	margin: 0 0 1em 0;
	min-height: 125px;
}

.layout-main-footer .tweets,.layout-main-footer .tweets li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.layout-main-footer .tweets li {
	margin: 0 0 5px;
}

.layout-main-footer .tweets .time {
	color: #666;
}

.layout-main-footer .social {
	width: 160px;
	margin: 0 auto 0 auto;
	padding: 0;
}

.layout-main-footer .social li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}

.layout-main-footer .social li a {
	float: left;
	height: 0;
	padding-top: 32px;
	width: 32px;
	margin: 0 0 0 5px;
	overflow: hidden;
	background: url(img/social.png) no-repeat;
}

.layout-main-footer .social li.twitter a {
	background-position: -3px -4px;
}

.layout-main-footer .social li.facebook a {
	background-position: -115px -4px;
}

.layout-main-footer .social li.linkedin a {
	background-position: -78px -4px;
}

.layout-main-footer .social li.feeds a {
	background-position: -40px -4px;
}

.footer-links {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	float: left;
	list-style: none;
	margin: 1.875em 0 0
}

@media only screen and (min-width: 768px) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 15.625%;
		float: left
	}
	.footer-links:last-of-type {
		width: 30%
	}
}

@media only screen and (min-width: 58.75em) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 12.5%;
		float: left
	}
}

.foot-link_item {
	font-size: 0.875em;
	line-height: 1.6
}

.foot-link_item:first-child,.foot-link_item h3 {
	color: #949494;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em
}

.foot-link_item--icons {
	font-size: 1.3125em;
	padding-top: 10px
}

.site-footer_copyright {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	font-size: 0.875em;
	line-height: 1.6;
	margin: 1.875em 0 0
}

@media only screen and (min-width: 768px) {
	.site-footer_copyright {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 31.25%;
		float: left;
		float: right;
		text-align: right
	}
}

.row,.page {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	
	*zoom: 1
}

.row:before,.page:before,.row:after,.page:after {
	content: " ";
	display: table
}

.row:after,.page:after {
	clear: both
}

.site-footer {
	background: #3a3a3a;
	color: #949494;
	padding-bottom: 2.5em;
	clear: both;
}

@media only screen and (min-width: 768px) {
	.site-footer {
		padding-bottom: 3.125em
	}
}

.site-footer .row,.site-footer .page {
	position: relative
}

.site-footer a {
	color: #949494
}

.site-footer a:hover {
	color: #b5b5b5
}

.footer-links {
	position: relative;
	padding-left: 0.625em;
	padding-right: 0.625em;
	width: 100%;
	float: left;
	list-style: none;
	margin: 1.875em 0 0
}

@media only screen and (min-width: 768px) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 15.625%;
		float: left
	}
	.footer-links:last-of-type {
		width: 30%
	}
}

@media only screen and (min-width: 58.75em) {
	.footer-links {
		position: relative;
		padding-left: 0.625em;
		padding-right: 0.625em;
		width: 12.5%;
		float: left
	}
}

.foot-link_item {
	font-size: 0.875em;
	line-height: 1.6
}

.foot-link_item:first-child,.foot-link_item h3 {
	color: #949494;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.625em 0
}

.foot-link_item--icons {
	font-size: 1.3125em;
	padding-top: 10px
}

#signupdisplaybox {
	z-index: 10000;
	filter: alpha(opacity=50); /*older IE*/
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE */
	-moz-opacity: .50; /*older Mozilla*/
	-khtml-opacity: 0.5;   /*older Safari*/
	opacity: 0.5;   /*supported by current Mozilla, Safari, and Opera*/
	background-color:#000000;
	position:fixed; top:0px; left:0px; width:100%; height:100%; color:#FFFFFF; text-align:center; vertical-align:middle;
}

#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

.SignInPopUpdiv {
	position:absolute;
	background:#fff;
	border:5px solid #000;
	z-index: 9002;
	border:1px solid grey;
	width:500px;
	height:250px;
	margin:auto;
	margin-top:100px;
	font-size:12px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 2px 2px 2px #aaa;
	-moz-box-shadow: 2px 2px 2px #aaa;
	box-shadow: 2px 2px 2px #aaa;
	text-align: center;
   	position:absolute;   
}

.SignInPopUpdiv .innerRow{
	border:none;
	margin: auto;
	position: relative;	
	padding-top:40px;
}

#SignInPopUpdiv a {position:relative; top:20px; left:20px}
#SignInPopUpdiv label {position:relative; top:20px; left:120px}
#SignInPopUpdiv input {
	position:relative; 
	top:20px; 
	left:120px;
    font-size: 1.3em;
    line-height:32px;
    padding:0 5px;
    border: 1px solid #e4ddd7;
    border-radius: 6px
}
